{% include 'header.twig' %}
<main>
  <article class="entry cf">
    <img class="single-featured-image" src="{{post.thumbnail.src}}">
    <h1>{{post.title}}</h1>
    <aside class="post-meta">
      <span class="post-published">Published: {{post.post_date|date}}</span>
      <span class="post-modified">Last updated: {{post.post_modified|date}}</span>
      <span class="post-category">Category: {% for category in post.terms('categories') %}<a href="{{category.link}}">{{category.name}}</a>{% endfor %}.</span>
      <span class="post-comments-link"><a href="#comments">{{ function('comments_number') }}</a></span>
    </aside>
    {{post.content}}
    {% include 'post-about.twig' %}
  </article>
  {{ function('comments_template') }}
</main>
{% include 'footer.twig' %}
